{{- define "main" }}

{{- if eq .Section "posts" }}
<header class="page-header">
  <h1>{{ .Title }}</h1>
  {{- with .Description }}
  <div class="post-description">{{ . }}</div>
  {{- end }}
</header>

{{- $sections := where .Pages "Kind" "section" }}
{{- if gt (len $sections) 0 }}
<div class="post-content">
  <ul class="folder-directory-list">
    {{- range $sections.ByTitle }}
    <li class="folder-directory-item">
      <a href="{{ .RelPermalink }}" class="folder-directory-link">{{ .Title }}</a>
      <span class="folder-directory-count">{{ len .RegularPagesRecursive }} 篇</span>
      {{- with .Description }}
      <div class="folder-directory-desc">{{ . }}</div>
      {{- end }}
    </li>
    {{- end }}
  </ul>
</div>
{{- else }}
<div class="post-content">
  <p>暂时还没有可显示的目录。</p>
</div>
{{- end }}

{{- else }}
<header class="page-header">
  <h1>{{ .Title }}</h1>
  {{- with .Description }}
  <div class="post-description">{{ . }}</div>
  {{- end }}
</header>

{{- range .Pages.ByDate.Reverse }}
<article class="post-entry">
  <header class="entry-header">
    <h2 class="entry-hint-parent">{{ .Title }}</h2>
  </header>
  {{- with .Description }}
  <div class="entry-content">
    <p>{{ . }}</p>
  </div>
  {{- end }}
  <footer class="entry-footer">
    {{- partial "post_meta.html" . -}}
  </footer>
  <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .RelPermalink }}"></a>
</article>
{{- end }}

{{- end }}

{{- end }}
